[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
python-dotenv = "*"
faker = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
pymysql = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-moment = "*"
bootstrap-flask = "*"
unidecode = "*"
flask-migrate = "*"
flask-sslify = "*"

[requires]
python_version = "3.6"
