/*nav {*/
    /*margin-bottom: 20px;*/
/*}*/

/*img {*/
    /*max-width: 100%;*/
    /*height: auto !important;*/
/*}*/

/*.inline {*/
    /*display: inline;*/
/*}*/

.page-header {
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error {
    color: red;
}

.comments {
    margin: 20px 0;
}

.reply-body {
    margin-top: 10px;
}

/*@media only screen and (min-width: 576px) {*/
    /*.sidebar {*/
        /*padding-left: 30px;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 575px) {*/
    /*.sidebar {*/
        /*padding-top: 15px;*/
    /*}*/
/*}*/

/*footer {*/
    /*margin-top: 30px;*/
    /*padding: 10px 0 40px;*/
    /*color: #999;*/
    /*border-top: 1px solid #e5e5e5;*/
/*}*/

/*.page-footer {*/
    /*padding-top: 40px;*/
/*}*/

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}

.category-list{
    border: 0px;
}

.group-list{
    border: 0px;
}