/*nav {*/
    /*margin-bottom: 20px;*/
/*}*/

/*img {*/
    /*max-width: 100%;*/
    /*height: auto !important;*/
/*}*/

/*.inline {*/
    /*display: inline;*/
/*}*/

.page-header {
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-header {
    margin-top: 30px;
    padding-bottom: 10px;
}

.error {
    color: red;
}

.form-error {
    color: red;
}

.comments {
    margin: 20px 0;
}

.comment-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reply-body {
    margin-top: 10px;
    font-size: 15px;
}

.reply-body p {
    margin: 0;
}

.comment-body p {
    font-size: 18px;
}

/*@media only screen and (min-width: 576px) {*/
    /*.sidebar {*/
        /*padding-left: 30px;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 575px) {*/
    /*.sidebar {*/
        /*padding-top: 15px;*/
    /*}*/
/*}*/

/*footer {*/
    /*margin-top: 30px;*/
    /*padding: 10px 0 40px;*/
    /*color: #999;*/
    /*border-top: 1px solid #e5e5e5;*/
/*}*/

/*.page-footer {*/
    /*padding-top: 40px;*/
/*}*/

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}

.category-list{
    border: 0;
}

.comment-list{
    border: 0;
}

.group-list{
    border: 0;
}

#toast { /* form w3school.com */
    display: none;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/*post toc*/
.post-toc {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
}

.toc-list {
    height: 1100px;
    overflow: auto;
}

#toc {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}

#toc ol {
    padding: 0 18px;
}

#toc li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8;
}

#toc a {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-property: all;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #999;
}

#toc a:hover {
    color: #0085A1;
    border-bottom: 1px solid #0085A1;
}
