{% extends 'admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    All Statistics
{% endblock title %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Statistics
            <small class="text-muted ml-2">{{ pagination.total }}</small>
        </h1>
    </div>
    <ul class="nav nav-pills" style="margin-bottom: 10px">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Filter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %}active{% endif %}"
               href="{{ url_for('admin.statistics', filter='all') }}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'post' %}active{% endif %}"
               href="{{ url_for('admin.statistics', filter='post') }}">Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'page' %}active{% endif %}"
               href="{{ url_for('admin.statistics', filter='page') }}">Page</a>
        </li>
    </ul>
    {% if pagination.items %}
        <table class="table table-bordered shadow">
            <thead>
            <tr>
                <th>No.</th>
                <th>Post</th>
                <th>Publish</th>
                <th>Visit</th>
                <th>Verbose</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for statistic in pagination.items %}
                <tr id="{{ statistic.id }}">
                    <td>{{ loop.index + ((pagination.page - 1) * config.APP_MANAGE_STATISTIC_PER_PAGE) }}</td>
                    <td>
                        <a href="{{ url_for('blog.show_post', slug=statistic.post.slug) }}">{{ statistic.post.title }}</a>
                    </td>
                    <td>{{ moment(statistic.post.pub_time).format('LLL') }}</td>
                    <td>{{ statistic.visit_count }}</td>
                    <td>{{ statistic.verbose_count_base }}</td>
                    <td>{{ statistic.post.type }}</td>
                    <td>
                        <button class="btn btn-info btn-sm d-inline" type="button"><a class="text-white"
                                href="{{ url_for('admin.statistic', slug=statistic.post.slug) }}">Detail</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {{ render_pagination(pagination) }}
        </div>
    {% else %}
        <div class="tip">
            <h5>No Statistics</h5>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}