{% extends 'admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    All Widgets
{% endblock title %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            All Widgets
            <small class="text-muted ml-2">{{ pagination.total }}</small>
            <span class="float-right ml-2"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('admin.new_widget') }}">New Widget</a></span>
        </h1>
    </div>
    {% if pagination.items %}
        <table class="table table-bordered shadow">
            <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Content</th>
                <th>Publish</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for widget in pagination.items %}
                <tr id="{{ widget.id }}">
                    <td>{{ loop.index + ((pagination.page - 1) * config.APP_MANAGE_WIDGET_PER_PAGE) }}</td>
                    <td>{{ widget.title }}</td>
                    <td>{{ widget.priority }}</td>
                    <td>{{ widget.html_content|safe }}</td>
                    <td>{{ moment(widget.pub_time).format('LLL') }}</td>
                    <td>
                        <button class="btn btn-info btn-sm d-inline" type="button"><a class="text-white"
                                href="{{ url_for('admin.widget', pk=widget.pk) }}">Edit</a></button>
                        <button data-id="{{ widget.id }}" data-href="{{ url_for('admin.widget', pk=widget.pk) }}"
                                data-toggle="modal" data-target="#confirm-delete"
                                class="btn btn-danger btn-sm d-inline" type="button">Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {{ render_pagination(pagination) }}
        </div>
    {% else %}
        <div class="tip">
            <h5>No widgets</h5>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}