{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <form class="form-signin" method="post">
                    {{ form.csrf_token }}
                    <div class="form-label-group">
                        {{ form.username(class_='form-control', placeholder='Username', autofocus=True) }}
                        {{ form.username.label }}
                        {% for message in form.username.errors %}
                            <small class="error">{{ message }}</small>
                        {% endfor %}
                    </div>

                    <div class="form-label-group">
                        {{ form.name(class_='form-control', placeholder='Name') }}
                        {{ form.name.label }}
                        {% for message in form.name.errors %}
                            <small class="error">{{ message }}</small>
                        {% endfor %}
                    </div>

                    <div class="form-label-group">
                        {{ form.email(class_='form-control', placeholder='Email') }}
                        {{ form.email.label }}
                        {% for message in form.email.errors %}
                            <small class="error">{{ message }}</small>
                        {% endfor %}
                    </div>

                    <div class="form-label-group">
                        {{ form.password(class_='form-control', placeholder='Password') }}
                        {{ form.password.label }}
                        {% for message in form.password.errors %}
                            <small class="error">{{ message }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-label-group">
                        {{ form.password2(class_='form-control', placeholder='Confirm Password') }}
                        {{ form.password2.label }}
                        {% for message in form.password2.errors %}
                            <small class="error">{{ message }}</small>
                        {% endfor %}
                    </div>

                    {{ form.submit(class_='btn btn-lg btn-primary btn-block text-uppercase') }}
                    <hr class="my-4">
                    <div class="text-center">
                        <a class="small" href="{{ url_for('auth.login') }}">Already have an Account!</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="mailto:ampedee@gmail.com">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-google fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/waynerv">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://weibo.com/u/2198233840/home?wvr=5&lf=reg">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p class="copyright text-center">Copyright &copy; Origin Blog 2019</p>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}