{% extends 'base.html' %}

{% block title %} Author | {{ user.name }} {% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ blog_meta.bg_about }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Author</h1>
                        <hr class="small">
                        <span class="subheading">{{ blog_meta.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3>About {{ user.name }}</h3>
                <hr>
                <dl>
                    <dt>Username:</dt>
                    <dd>{{ user.username }}</dd>
                </dl>
                <dl>
                    <dt>Bio:</dt>
                    <dd>{{ user.bio }}</dd>
                </dl>
                <dl>
                    <dt>Social Network:</dt>
                    <dd>
                        {% if user.social_networks['github']['url'] %}
                            <a href='{{ user.social_networks["github"]["url"] }}'><i class="fab fa-github fa-lg"></i></a>
                        {% endif %}
                        {% if user.social_networks['twitter']['url'] %}
                            <a href='{{ user.social_networks["twitter"]["url"] }}'><i
                                    class="fab fa-twitter fa-lg"></i></a>
                        {% endif %}
                        {% if user.social_networks['weibo']['url'] %}
                            <a href='{{ user.social_networks["weibo"]["url"] }}'><i class="fab fa-weibo fa-lg"></i></a>
                        {% endif %}
                        {% if user.social_networks['facebook']['url'] %}
                            <a href='{{ user.social_networks["facebook"]["url"] }}'><i class="fab fa-facebook fa-lg"></i></a>
                        {% endif %}
                        {% if user.social_networks['linkedin']['url'] %}
                            <a href='{{ user.social_networks["linkedin"]["url"] }}'><i class="fab fa-linkedin fa-lg"></i></a>
                        {% endif %}
                        {% if user.social_networks['weixin']['url'] %}
                            <a id="btn_weixin" href='#'><i
                                    class="fab fa-weixin fa-lg"></i></a>
                            <!-- display weixin qrcode -->
                            <div id="weixin" class="d-none">
                                <br>
                                <img src="{{ user.social_networks["weixin"]["url"] }}" title="weixin"
                                     height="200" width="200" alt="weixin qrcode">
                            </div>
                        {% endif %}
                    </dd>
                </dl>
                <dl>
                    <dt>Homepage:</dt>
                    <dd>
                        {% if user.homepage %}
                            <a href="{{ user.homepage }}"><i class="fas fa-home"></i>{{ user.homepage }}</a>
                        {% else %}
                            Not provided.
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-8 col-md-10 mx-auto" id="article">
                <h3>Articles</h3>
                <hr>
                <ul>
                    {% for post in pagination.items %}
                        {% if post %}
                            <li>
                                <a href="{{ url_for('blog.show_post', slug=post.slug) }}">{{ post.title }}</a>
                            </li>
                        {% else %}
                            <p class="post-subtitle">No articles found here</p>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- pagination -->
                <div class="clearfix">
                    {% if pagination.has_next %}
                        <a class="btn btn-primary float-right ml-2"
                           href="{{ url_for('user.index', username=user.username, page=pagination.next_num) }}#article">Older Posts &rarr;
                        </a>
                    {% endif %}
                    {% if pagination.has_prev %}
                        <a class="btn btn-primary float-right"
                           href="{{ url_for('user.index', username=user.username, page=pagination.prev_num) }}#article">Previous Posts
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#btn_weixin').on('click', function (event) {
            if ($('#weixin').hasClass('d-none'))
                $('#weixin').removeClass('d-none');
            else
                $('#weixin').addClass('d-none');
            return false
        })
    </script>
{% endblock %}