[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-mail = "*"
flask-moment = "*"
bootstrap-flask = "*"
unidecode = "*"
pyyaml = "==5.1"
mongoengine = "*"
flask-mongoengine = "*"
markdown2 = "*"
bleach = "*"
requests = "*"
python-dotenv = "*"
gunicorn = "*"
werkzeug = "==0.14.1"

[requires]
python_version = "3.6"
