{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Archive{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ blog_meta.bg_about }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Archive</h1>
                        <hr class="small">
                        <span class="subheading">{{ blog_meta.subtitle }} <a href="{{ url_for('blog.index') }}"><i class="fa fa-rss"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" id="post-list">
            {% for (date, posts) in data.items() %}
            <div class="row mb-3">
                <div class="col">
                    <h3>{{ date[0] }}年{{ date[1] }}月（{{ posts|length }}）</h3>
                    <ul class="list-group list-group-flush">
                    {% for post in posts %}
                        <li class="list-group-item list-group-item-action">
                            <a href="{{ url_for('blog.show_post', slug=post.slug) }}">{{ post.title }}</a>&nbsp;
                            <span class="text-muted">{{ moment(post.pub_time).format('YYYY-MM-DD') }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}

{% block scripts %}
{{ moment.include_moment(local_js="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js") }}
{% endblock %}