{% extends 'base.html' %}

{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_field %}

{% block custom_head %}
    <link crossorigin="anonymous" integrity="sha384-snvkDYLVttT3SBWz8WVvdGfmManlusUoAT3Agqco/8yBV7/tlflWJCUmP2O9f9wF" href="https://lib.baomitu.com/highlight.js/9.15.6/styles/github.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ post.title }}{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({{ blog_meta.bg_about }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ post.title }}</h1>
                        <hr class="small">
                        <span class="meta">Posted by
                            <a href="{{ url_for('user.index', username=post.author.username) }}">{{ post.author.name }}</a>
                            on {{ moment(post.pub_time).format('YYYY/MM/DD, h:mm a') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- main content -->
            <article id="main-content">
                {{ post.html_content|safe }}
            </article>

            <!-- comment form and list -->
            {% include 'blog/_comment.html' %}

        </div>

    </div>

    <!-- Delete Modal-->
    {% if current_user.is_admin %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Delete Confirm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete this item?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    <button data-id="" data-href="" type="button" data-dismiss="modal"
                            class="btn btn-danger btn-sm delete-item">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Custom Toast-->
    <div id="toast"></div>

{% endblock main %}

{% block scripts %}
    <script crossorigin="anonymous" integrity="sha384-CWWTkjyKvLwc1j/u6LmdJiGCWFkQtH9MxBpmgzrFFwMhF5qM2u/FzXrhV3nUfs0l" src="https://lib.baomitu.com/highlight.js/9.15.6/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}