{% extends 'base.html' %}

{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_field %}

{% block custom_head %}
    <link crossorigin="anonymous" integrity="sha384-snvkDYLVttT3SBWz8WVvdGfmManlusUoAT3Agqco/8yBV7/tlflWJCUmP2O9f9wF" href="https://lib.baomitu.com/highlight.js/9.15.6/styles/github.min.css" rel="stylesheet">
    <link crossorigin="anonymous" integrity="sha384-p1+tzRdXcglS+PrR+shfL55KoHugzlLLtjkBKwCZaAqOruyk5rBEQYtiTaK9XewD" href="https://lib.baomitu.com/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ post.title }}{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({{ blog_meta.bg_post }})" id="page-top">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <span class="meta">Posted by
                            <a href="{{ url_for('user.index', username=post.author.username) }}">{{ post.author.name }}</a>
                            on {{ moment(post.pub_time).format('YYYY/MM/DD, h:mm a') }}</span>
                        <p class="meta">category: <a
                                href="{{ url_for('blog.index', category=post.category) }}">{{ post.category }}</a>
                        </p>
                        <p class="meta">Tags:
                            {% for tag in post.tags %}
                                <a href="{{ url_for('blog.index', tag=tag) }}">{{ tag }}</a>{% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- main content -->
            <article id="main-content">
            {{ post.html_content|safe }}
            </article>

            <!-- dispaly share, copyright, donate and wechat information -->
            {% if blog_meta.display_copyright %}
            <div class="row">
                <div class="col">
                    <hr>
                    <p><strong>{{ blog_meta.copyright_message }}</strong></p>
                    <hr>
                </div>
            </div>
            {% endif %}

            {% if blog_meta.allow_share %}
            <br>
            <div class="row">
                <div class="col">
                    <div class="share-component" data-sites="weibo,wechat,douban,qq,facebook"></div>
                </div>
            </div>
            <br>
            {% endif %}

            {% if blog_meta.allow_donate %}
            <div class="row">
                <div class="col">
                    <p>{{ blog_meta.donate_message }}</p>
                    <a id="btn-donate"><i class="fa fa-yen-sign"></i> | <i class="fa fa-dollar-sign"></i><br></a>
                    <img id="img-donate" class="img-fluid" height="400" width="400" src="{{ blog_meta.donate_img_url }}" title="Donate" alt="donate qrcode">
                </div>
            </div>
            {% endif %}

            {% if blog_meta.dispaly_wechat %}
            <div class="row">
                <div class="col">
                    <p>{{ blog_meta.wechat_message }} <i class="fab fa-weixin" aria-hidden="true"></i></p>
                    <img class="img-fluid" height="400" width="400" src="{{ blog_meta.wechat_img_url }}" title="wechat" alt="wechat qrcode">
                </div>
            </div>
            {% endif %}

            <!-- comment form and list -->
            {% include 'blog/_comment.html' %}

        </div>

        <!-- sidebar -->
        {% include "blog/_post_sidebar.html" %}
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Delete Modal-->
    {% if current_user.is_admin %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Delete Confirm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete this item?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    <button data-id="" data-href="" type="button" data-dismiss="modal"
                            class="btn btn-danger btn-sm delete-item">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete this post?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    <button data-id="" data-href="" type="button" data-dismiss="modal"
                            class="btn btn-danger btn-sm delete-post">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Custom Toast-->
    <div id="toast"></div>

{% endblock main %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.toc.min.js') }}"></script>
    <script crossorigin="anonymous" integrity="sha384-CWWTkjyKvLwc1j/u6LmdJiGCWFkQtH9MxBpmgzrFFwMhF5qM2u/FzXrhV3nUfs0l" src="https://lib.baomitu.com/highlight.js/9.15.6/highlight.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6Xvzp61V1VxmzdSD4aLWzCkE8LEFwvgbwBSi/IWxZ1x8EY2f6QxMtzUAvKDsTwz" src="https://lib.baomitu.com/social-share.js/1.0.16/js/social-share.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
        $('.rm-filter').on('click', function (event) {

            location.href = "/";
            return false;
        });
    // 生成csrf令牌
    var csrf_token = "{{ csrf_token() }}";
    var default_error_message = 'Server error, please try again later';
    // Scroll to top button appear
    $(document).on('scroll', function() {
    var scrollDistance = $(this).scrollTop();
        if (scrollDistance > 1000) {
            $('.scroll-to-top').fadeIn();
        } else {
            $('.scroll-to-top').fadeOut();
        }
    });
    $('#btn-donate').on('click', function (event) {
        $('#img-donate').toggle();
    });
    </script>
{% endblock %}