{% extends 'admin/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">POSTS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ posts }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">COMMENTS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ comments }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">USERS</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ users }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">READS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if reads %}{{ reads[0].count }}{% else %}0{% endif %}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Blog Meta Data</h6>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Blog Name:</dt>
                        <dd>{{ blog_meta.name }}</dd>
                    </dl>
                    <dl>
                        <dt>Blog Subtitle:</dt>
                        <dd>{{ blog_meta.subtitle }}</dd>
                    </dl>
                    <dl >
                        <dt>Blog Description:</dt>
                        <dd>{{ blog_meta.description }}</dd>
                    </dl>
                    <dl>
                        <dt>Blog Owner:</dt>
                        <dd>{{ blog_meta.owner }}</dd>
                    </dl>
                    <dl>
                        <dt>Blog Keywords:</dt>
                        <dd>{{ blog_meta.keywords }}</dd>
                    </dl>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Posts</h6>
                </div>
                <div class="card-body">
                    {% if recent_posts %}
                    <ul class="list-group list-group-flush">
                        {% for post in recent_posts %}
                        <li class="list-group-item">{{ moment(post.pub_time).fromNow(refresh=True) }} <strong>{{ post.author.name }}</strong> Published: <a href="{{ url_for('blog.show_post', slug=post.slug) }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No posts yet.</p>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">About User</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Action:</div>
                            <a class="dropdown-item" href="{{ url_for('user.edit_profile') }}">Edit Profile</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <dl>
                        <dt>Name:</dt>
                        <dd>{{ current_user.name }}</dd>
                    </dl>
                    <dl>
                        <dt>Username:</dt>
                        <dd>{{ current_user.username }}</dd>
                    </dl>
                    <dl>
                        <dt>Bio:</dt>
                        <dd>{{ current_user.bio }}</dd>
                    </dl>
                    <dl>
                        <dt>Social Network:</dt>
                        <dd>
                            {% if current_user.social_networks['github']['url'] %}
                                <a href='{{ current_user.social_networks["github"]["url"] }}'><i class="fab fa-github fa-lg"></i></a>
                            {% endif %}
                            {% if current_user.social_networks['twitter']['url'] %}
                                <a href='{{ current_user.social_networks["twitter"]["url"] }}'><i
                                        class="fab fa-twitter fa-lg"></i></a>
                            {% endif %}
                            {% if current_user.social_networks['weibo']['url'] %}
                                <a href='{{ current_user.social_networks["weibo"]["url"] }}'><i class="fab fa-weibo fa-lg"></i></a>
                            {% endif %}
                            {% if current_user.social_networks['facebook']['url'] %}
                                <a href='{{ current_user.social_networks["facebook"]["url"] }}'><i class="fab fa-facebook fa-lg"></i></a>
                            {% endif %}
                            {% if current_user.social_networks['linkedin']['url'] %}
                                <a href='{{ current_user.social_networks["linkedin"]["url"] }}'><i class="fab fa-linkedin fa-lg"></i></a>
                            {% endif %}
                            {% if current_user.social_networks['weixin']['url'] %}
                                <a id="btn_weixin" href='{{ current_user.social_networks["weixin"]["url"] }}'><i
                                        class="fab fa-weixin fa-lg"></i></a>
                            {% endif %}
                        </dd>
                    </dl>
                    <dl>
                        <dt>Homepage:</dt>
                        <dd>
                            {% if current_user.homepage %}
                                <a href="{{ current_user.homepage }}"><i class="fa fa-home"></i>{{ current_user.homepage }}</a>
                            {% else %}
                                Not provided.
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Comments</h6>
                </div>
                <div class="card-body">
                    {% if recent_comments %}
                    <ul class="list-group list-group-flush">
                        {% for comment in recent_comments %}
                        <li class="list-group-item">{{ moment(comment.pub_time).fromNow(refresh=True) }} <strong>{{ comment.author }}</strong> Commented: <a href="{{ url_for('blog.show_post', slug=comment.post_slug) }}#comments">{{ comment.html_content|safe|striptags|truncate }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No comments yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}