{% extends 'admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    All Comments
{% endblock title %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            All Comments
            <small class="text-muted ml-2">{{ pagination.total }}</small>
        </h1>
    </div>
    <ul class="nav nav-pills" style="margin-bottom: 10px">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Filter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %}active{% endif %}"
               href="{{ url_for('admin.comments', filter='all') }}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'unread' %}active{% endif %}"
               href="{{ url_for('admin.comments', filter='unread') }}">Unread
                {% if unread_comments %}
                    <span class="badge badge-success">{{ unread_comments }}</span>
                {% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.args.get('filter', 'all') == 'admin' %}active{% endif %}"
               href="{{ url_for('admin.comments', filter='admin') }}">Admin</a>
        </li>
        {% if request.args.get('filter', 'all') == 'unread' %}
            <li>
                <a href="#" class="btn btn-danger btn-icon-split"
                   data-href="{{ url_for('admin.comments') }}" data-toggle="modal" data-target="#delete-all">
                <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                </span>
                    <span class="text">Delete All</span>
                </a>
            </li>

        {% endif %}
    </ul>
    {% if pagination.items %}
        <table class="table table-bordered shadow">
            <thead>
            <tr>
                <th>No.</th>
                <th>Author</th>
                <th>Email</th>
                <th>Homepage</th>
                <th>Post</th>
                <th>Content</th>
                <th>Publish</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for comment in pagination.items %}
                <tr id="{{ comment.id }}">
                    <td>{{ loop.index + ((pagination.page - 1) * config.APP_MANAGE_COMMENT_PER_PAGE) }}</td>
                    <td>{{ comment.author }}</td>
                    <td><a href="mailto:{{ comment.email }}">{{ comment.email }}</a></td>
                    <td><a href="{{ comment.homepage }}">{{ comment.homepage }}</a></td>
                    <td><a href="{{ url_for('blog.show_post', slug=comment.post_slug) }}">{{ comment.post_title }}</a>
                    </td>
                    <td>{{ comment.html_content|safe|striptags|truncate(80) }}</td>
                    <td>{{ moment(comment.pub_time).format('LLL') }}</td>
                    <td id="{{ comment.id }}status">{{ comment.status }}</td>
                    <td>
                        {% if comment.status == 'pending' and current_user.can('MODERATE') %}
                            <button data-id="{{ comment.id }}" data-href="{{ url_for('admin.comment', pk=comment.id) }}"
                                    data-op="approve"
                                    class="btn btn-info btn-sm d-inline handle-comment {{ comment.id }}button"
                                    type="button">Approve
                            </button>
                            <button data-id="{{ comment.id }}" data-href="{{ url_for('admin.comment', pk=comment.id) }}"
                                    data-op="spam"
                                    class="btn btn-warning btn-sm d-inline handle-comment {{ comment.id }}button"
                                    type="button">Spam
                            </button>
                        {% endif %}
                        {% if current_user.is_admin or (current_user.can('MODERATE') and not comment.from_admin) %}
                        <button data-id="{{ comment.id }}" data-toggle="modal" data-target="#confirm-delete"
                                data-href="{{ url_for('admin.comment', pk=comment.id) }}"
                                class="btn btn-danger btn-sm d-inline" type="button">Delete
                        </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {{ render_pagination(pagination) }}
        </div>
    {% else %}
        <div class="tip">
            <h5>No Comments</h5>
        </div>
    {% endif %}

    {% if request.args.get('filter') == 'unread' %}
    <div class="modal fade" id="delete-all" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Delete Confirm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete all pending items?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    <button data-id="" data-href="" type="button" data-dismiss="modal"
                            class="btn btn-danger btn-sm delete-all">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}