{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block custom_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde@2.5.1/dist/easymde.min.css">
{% endblock %}

{% block title %}New Widget{% endblock title %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">New Widget</h1>
    </div>
    <form action="{{ url_for('admin.widgets') }}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.title) }}
        {{ render_field(form.priority) }}
        {{ render_field(form.content_type) }}
        {{ form.content.label }}
        {% if form.content.errors %}
            {% for message in form.content.errors %}
                <small class="form-error">{{ message }}</small><br>
            {% endfor %}
        {% endif %}
        {{ form.content(id="easymde") }}
        {{ form.submit(class_="btn btn-primary") }}
    </form>
    <br>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/easymde@2.5.1/dist/easymde.min.js"></script>
    <script>
        let easyMDE = new EasyMDE({
            element: $('#easymde')[0],
            autoDownloadFontAwesome: false,
            placeholder: 'This field cannot be empty',
            spellChecker: false
        });
        $('#submit').click(function () {
            $('#easymde').text(easyMDE.value());
        });
    </script>
{% endblock %}
