{% extends 'admin/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}
    Statistic Detail
{% endblock title %}

{% block main %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Statistic Detail
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
    </div>
    {% if pagination.items %}
        <table class="table table-bordered shadow">
            <thead>
            <tr>
                <th>No.</th>
                <th>Post</th>
                <th>IP</th>
                <th>Agent</th>
                <th>Time</th>
            </tr>
            </thead>
            {% for tracker in pagination.items %}
                <tr id="{{ tracker.id }}">
                    <td>{{ loop.index + ((pagination.page - 1) * config.APP_MANAGE_TRACKER_PER_PAGE) }}</td>
                    <td>
                        <a href="{{ url_for('blog.show_post', slug=tracker.post.slug) }}">{{ tracker.post.title }}</a>
                    </td>
                    <td>{{ tracker.ip }}</td>
                    <td>{{ tracker.user_agent }}</td>
                    <td>{{ moment(tracker.create_time).format('LLL') }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {{ render_pagination(pagination) }}
        </div>
    {% else %}
        <div class="tip">
            <h5>No Details</h5>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}