{% extends 'base.html' %}

{% block title %}403 Error{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url({{ blog_meta.bg_about }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>403 Error</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">

            <h1>No Permission</h1>
            <p><a class="text-muted" href="{{ url_for('blog.index') }}">&larr; Back to Index</a></p>

        </div>

    </div>

{% endblock main %}