<div class="comments" id="comments">
    <!-- comment header -->
    <div class="row">
        <div class="col">
            <hr>
            <h3>{{ comment_pagination.total }} Comments
                <small>
                    <a href="{{ url_for('blog.show_post', slug=post.slug, page=comment_pagination.pages or 1) }}#comments">
                        latest
                    </a>
                </small>
            {% if current_user.is_admin %}
                <button data-id="{{ post.id }}" data-href="{{ url_for('admin.post', slug=post.slug) }}"
                        class="btn btn-warning btn-sm d-inline float-right switch-comment" type="button">
                    {% if post.can_comment %}Disabled{% else %}Enable{% endif %} Comment
                </button>
            {% endif %}
            </h3>
        </div>
    </div>

    <!-- comment form -->
    <div class="row comment-form">
        <div class="col">
            {% if post.can_comment %}
                {% if request.args.get('replyto') %}
                <div class="alert alert-info" role="alert">
                    Reply to<strong>{{ request.args.get('author') }}</strong>:
                    <a class="float-right" href="{{ url_for('blog.show_post', slug=post.slug) }}#comments">Cancel</a>
                </div>
                {% endif %}
                <div id="comment-form">
                    <form class="form-group" action="{{ request.full_path }}" method="post">
                        {% if current_user.is_authenticated %}
                            {{ form.hidden_tag() }}
                        {% else %}
                            {{ form.csrf_token }}
                            {{ render_field(form.author) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.homepage) }}
                        {% endif %}
                        <div class="form-group">
                        {{ form.content.label(class_="form-control-label") }}
                        {{ form.content(class_="form-control", rows="5") }}
                        {% if form.content.errors %}
                            {% for message in form.content.errors %}
                            <small class="error">{{ message }}</small><br>
                            {% endfor %}
                        {% endif %}
                        </div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </form>
                </div>
            {% else %}
                <div class="tip">
                    <h5>Comment disabled.</h5>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- comment list -->
    <div class="row">
        <div class="col">
            {% if comment_pagination.items %}
            <ul class="list-unstyled">
                {% for comment in comment_pagination.items %}
                <div id="{{ comment.pk }}">
                <hr>
                <li class="media">
                    <img class="rounded img-fluid mr-3" src="{{ comment.get_avatar_url() }}">
                    <div class="media-body">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="my-1">
                                <a href="{% if comment.homepage %}{{ comment.homepage }}{% else %}#{% endif %}"
                                   target="_blank">
                                    {{ comment.author }}
                                </a>
                                {% if comment.from_post_author %}
                                    <span class="badge badge-primary">Author</span>
                                {% endif %}
                                {% if comment.from_admin %}
                                    <span class="badge badge-warning">Admin</span>
                                {% endif %}
                                {% if reply_filter(comment) %}
                                    <span class="badge badge-secondary">Reply</span>
                                {% endif %}
                            </h5>
                            <small data-toggle="tooltip" data-placement="top" data-delay="500"
                                   data-timestamp="{{ comment.pub_time.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                                {{ moment(comment.pub_time).fromNow(refresh=True) }}
                            </small>
                        </div>
                        {% if reply_filter(comment) %}
                            {# 处理回复评论被删除时直接引用所引发的异常 #}
                            {% if reply_filter(comment, False) %}
                            <div class="alert alert-info reply-body" role="alert">
                                <h6 class="alert-heading">{{ comment.reply_to.author }}:</h6>
                                {{ comment.reply_to.html_content|safe }}
                            </div>
                            {% else %}
                            <div class="alert alert-info reply-body text-muted" role="alert">
                                Original comment has been deleted.
                            </div>
                            {% endif %}
                        {% endif %}
                        <div class="comment-body">
                            <p>{{ comment.html_content|safe }}</p>
                        </div>
                        <div class="float-right">
                            <a class="btn btn-primary btn-sm"
                               href="{{ url_for('blog.reply_comment', pk=comment.pk) }}">Reply</a>
                            {% if current_user.is_authenticated %}
                            <a class="btn btn-info btn-sm" href="mailto:{{ comment.email }}">Email</a>
                            {% endif %}
                            {% if current_user.is_admin %}
                                <button data-id="{{ comment.pk }}" data-href="{{ url_for('admin.comment', pk=comment.pk) }}"
                                        data-toggle="modal" data-target="#confirm-delete"
                                        class="btn btn-danger btn-sm d-inline" type="button">Delete
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </li>
                </div>
                {% if loop.last %}
                <hr>
                {% endif %}
                {% endfor %}
            </ul>
            <!-- comment pagination -->
            <br>
            <div class="pagination justify-content-center">
                {{ render_pagination(comment_pagination, fragment='#comments') }}
            </div>
            {% else %}
            <div class="tip"><h5>No comments.</h5></div>
            {% endif %}
        </div>
    </div>
</div>