<div class="col-lg-3 col-md-2">
    {% if current_user.is_admin %}
    <div class="sidebar-header">
        <a class="btn btn-info btn-sm" href="{{ url_for('admin.post', slug=post.slug) }}">Edit</a>
        <button data-id="{{ post.id }}" data-href="{{ url_for('admin.post', slug=post.slug) }}"
                data-toggle="modal" data-target="#delete-post"
                class="btn btn-danger btn-sm d-inline" type="button">Delete
        </button>
    </div>
    {% endif %}

    <h3>Search</h3>
    <hr>
    <form id="search-form" action="{{ url_for('blog.index') }}">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="submit" class="input-group-text fas fa-search"></button>
                </div>
                <input type="text" class="form-control" id="search" name="keywords" placeholder="search"
                value="{% if cur_keywords %}{{ cur_keywords }}{% endif %}">
            </div>
        </div>
    </form>
    <br>

    <h3>Tags</h3>
    <hr>
    {% if tags %}
    <div>
        {% for tag in tags %}
            {% if tag == cur_tag %}
                <a href="{{ url_for('blog.index', tag=tag) }}" class="badge badge-primary badge-pill">
                    {{ tag }}<i class="fas fa-times small rm-filter" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="{{ url_for('blog.index', tag=tag) }}" class="badge badge-secondary badge-pill">
                    {{ tag }}
                </a>
            {% endif %}
            &nbsp;
        {% endfor %}
    </div>
    {% endif %}
    <br>

    <h3>Category</h3>
    <hr>
    <div class="list-group">
        {% for category in categories %}
            {% if category and category.name %}
                {% if category.name == cur_category %}
                    <a href="{{ url_for('blog.index', category=category.name) }}"
                       class="list-group-item list-group-item-action d-flex align-items-center active category-list">{{ category.name }}
                        <span class="fas fa-times small rm-filter ml-2" aria-hidden="true"></span>
                        <span class="badge badge-light badge-pill ml-auto">&nbsp;{{ category.count }}&nbsp;</span></a>
                {% else %}
                    <a href="{{ url_for('blog.index', category=category.name) }}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category-list">{{ category.name }}
                        <span class="badge badge-secondary badge-pill">&nbsp;{{ category.count }}&nbsp;</span></a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <br>

    {% for widget in widgets %}
    <h3>{{ widget.title | safe }}</h3>
    <hr>
    <div class="list-group">
        {{ widget.html_content | safe }}
    </div>
    {% endfor %}

    <!-- Table of Content-->
    <div class="post-toc d-none d-lg-block">
        <h3>Table of Content</h3>
        <hr>
        <div class="toc-list">
            <ol id="toc" data-toc="#main-content" data-toc-headings="h2,h3,h4"></ol>
        </div>
    </div>
</div>
