<div class="col-lg-3 col-md-2">
    <h3>Search</h3>
    <hr>
    <form id="search-form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-append"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" id="search" name="keywords" placeholder="search"
                       value="{% if keywords %}{{ keywords }}{% endif %}">
            </div>
        </div>
    </form>
    <br>

    <h3>Tags</h3>
    <hr>
    {% for tag in tags %}
        <a href="{{ url_for('blog_bp', tag=tag) }}" class="post-tag">
            {% if tag == cur_tag %}
                <span class="label label-primary">
                {{ tag }}
                <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
            </span>
            {% else %}
                <span class="label label-default">
                {{ tag }}
            </span>
            {% endif %}
        </a>
        &nbsp;
    {% endfor %}

    <h3>Category</h3>
    <hr>
    <div class="list-group">
        {% for category in categories %}
            {% if category and category.name %}
                {% if category.name == cur_category %}
                    <a href="{{ url_for('blog_bp.index', category=category.name) }}"
                       class="list-group-item category-list active">{{ category.name }}
                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                        <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                {% else %}
                    <a href="{{ url_for('blog_bp.index', category=category.name) }}"
                       class="list-group-item category-list">{{ category.name }}
                        <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    {% for widget in widgets %}
    <h3>{{ widget.title | safe }}</h3>
    <hr>
    <div class="list-group">
        {{ widget.html_content | safe }}
    </div>
    {% endfor %}
</div>
