{% extends 'base.html' %}

{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}{{ post.title }}{% endblock title %}

{% block header %}
    <header class="masthead" style="background-image: url({{ url_for('static',filename=blog_meta.bg_about) }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ post.title }}</h1>
                        <hr class="small">
                        <span class="meta">Posted by
                            <a href="{{ url_for('user.index', username=post.author.username) }}">{{ post.author.name }}</a>
                            on {{ moment(post.pub_time).format('YYYY/MM/DD, h:mm a') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- main content -->
            <article id="main-content">
                {{ post.html_content|safe }}
            </article>

            <!-- comment form and list -->
            {% include 'blog/_comment.html' %}

        </div>

    </div>

    <!-- Custom Toast-->
    <div id="toast"></div>

{% endblock main %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.toc.js') }}"></script>
    <script src="https://cdn.bootcss.com/social-share.js/1.0.16/js/social-share.min.js"></script>
    <script type="text/javascript">
        // 生成csrf令牌
        var csrf_token = "{{ csrf_token() }}";
        var default_error_message = 'Server error, please try again later';
    </script>
{% endblock %}