{% macro nav_link(endpoint, text) %}
    <li class="nav-item {% if request.endpoint and request.endpoint == endpoint %}active{% endif %}">
        <a class="nav-link" href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
    </li>
{% endmacro %}

{# Macro for creating pagination links #}
{% macro render_pagination(pagination, endpoint) %}
    <div class=pagination>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}